.app-wrapper {
  display: grid;
  grid-template-areas:
    'h h'
    'n m';
  grid-template-rows: 120px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
}

.header {
  grid-area: h;
  margin: 10px;
  padding: 10px;
  background: linear-gradient(rgb(143, 245, 143), rgb(250, 250, 91));
  height: 100px;
  border-radius: 10px;
}

.nav {
  grid-area: n;
  margin: 10px;
  padding: 10px;
  background: linear-gradient(rgb(7, 168, 7), rgb(255, 255, 255));
  border-radius: 10px;
}

.main {
  grid-area: m;
  margin: 10px;
  padding: 10px;
  background: linear-gradient(rgb(36, 183, 241), rgb(255, 255, 255));
  border-radius: 10px;
}

.main-cap {
  height: 150px;
  width: 100%;
  /* max-width: 800px; */
  display: block;
  margin: 0 auto;
  border-radius: 10px;
}

.user-pic-image {
  width: 150px;
}
