.nav {
  grid-area: n;
  margin: 10px;
  padding: 10px;
  background: linear-gradient(30deg, rgb(7, 168, 7), rgb(196, 182, 55));
  border-radius: 10px;
}

a {
  text-decoration: none;
  font-weight: 700;
  color: rgb(14, 1, 1);
}

.item + .active {
  background-color: rgb(100, 74, 74);
  border-radius: 5px;
  padding: 2px 10px;
}
